html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'droid_sansregular';
  src: url("../fonts/DroidSans-webfont.eot");
  src: url("../fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-webfont.woff") format("woff"), url("../fonts/DroidSans-webfont.ttf") format("truetype"), url("../fonts/DroidSans-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'droid_serifregular';
  src: url("../fonts/DroidSerif-Regular-webfont.eot");
  src: url("../fonts/DroidSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif-Regular-webfont.woff") format("woff"), url("../fonts/DroidSerif-Regular-webfont.ttf") format("truetype"), url("../fonts/DroidSerif-Regular-webfont.svg#droid_serifregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Icons';
  src: url("../fonts/Icons.eot");
  src: url("../fonts/Icons.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Icons.woff") format("woff"), url("../fonts/Icons.ttf") format("truetype"), url("../fonts/Icons.svg#Icons_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*----------Default styles----------*/
html {
  height: 100%;
  font-size: 1.250rem;
}

body {
  color: #fff;
  height: 100%;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

h2, h3, h4 {
  font-weight: bold;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

p {
  font-family: "Droid Serif", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

/*----------Grid----------*/
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/*----------Header----------*/
header {
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgba(44, 62, 80, 0.8);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
header .logo {
  float: left;
  margin-left: 8.54701%;
  margin-top: 1rem;
  width: 140px;
  height: 52px;
  overflow: hidden;
}

/*----------Menu----------*/
#menu {
  text-align: right;
  margin-right: 5.98291%;
}
#menu .icon {
  display: none;
}
#menu .items li {
  display: inline-block;
}
#menu a {
  padding: 1.4rem .8rem;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
}
#menu a:hover {
  background: #2ecc71;
}
#menu .active {
  background: red;
}

.showitems {
  display: block !important;
}

@media screen and (max-width: 750px) {
  #menu .icon {
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    display: block;
    text-align: right;
    padding: 1rem;
  }
  #menu .items {
    display: none;
  }
  #menu .items li {
    display: block;
  }
  #menu .items li a {
    margin-left: 8.54701%;
    display: block;
    padding: .5rem .75rem;
  }
}
/*----------Intro----------*/
#intro {
  position: relative;
  text-align: center;
  background: url("../img/Header Bg - small.jpg") no-repeat scroll center top/cover transparent;
  height: 100%;
}
#intro .main-video {
  display: none;
}
#intro .welcome {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(44, 62, 80, 0.5);
}
#intro .container {
  height: 100%;
  display: table;
  overflow: hidden;
}
#intro .container h3 {
  display: table-cell;
  font-size: 3rem;
  vertical-align: middle;
}

.explore-button {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  background: url(../img/btn-bg.png) repeat-x center 30px;
}
.explore-button a {
  display: inline-block;
}
.explore-button a .explore-icon {
  margin: 0 auto;
  padding: 17px;
  height: 60px;
  width: 60px;
  font-family: "Icons";
  font-size: 1rem;
  background: #2ecc71;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  behavior: url(js/PIE.htc);
}
.explore-button a span {
  display: block;
  font-size: 1.35rem;
  font-family: "Droid Serif", Helvetica, Arial, sans-serif;
  margin-top: .5rem;
}
.explore-button a:hover .explore-icon {
  color: #000;
}

/*----------Main----------*/
.site-main {
  text-align: center;
}
.site-main section {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

#about {
  background-color: #34495e;
}
#about h2 + p {
  font-size: 1.2rem;
  margin-left: 8.54701%;
  margin-right: 8.54701%;
}
#about .about-items {
  margin-right: 5.98291%;
  margin-left: 5.98291%;
  margin-top: 4rem;
}
#about .about-items li {
  margin-top: 1.5rem;
}
#about .about-items .icon {
  display: block;
  margin: 0 auto;
  font-family: "Icons";
  font-size: 7.6rem;
  font-weight: normal;
}
#about .about-items p {
  font-size: 1rem;
}

#portfolio {
  color: #2c3e50;
  border: 1px solid red;
}
#portfolio .portfolio-menu li {
  display: inline-block;
  margin-right: .8rem;
}
#portfolio .portfolio-menu li a {
  display: inline-block;
  color: #2c3e50;
  padding: .05rem .8rem;
  font-size: 1.5rem;
}
#portfolio .portfolio-menu li a:hover, #portfolio .portfolio-menu li a.active {
  color: #fff;
  background-color: #2ecc71;
  -moz-border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  border-radius: 0.9rem;
  behavior: url(js/PIE.htc);
}
#portfolio .thumbnail-list {
  margin-top: 4.4rem;
  overflow: hidden;
  overflow: hidden;
  *zoom: 1;
}
#portfolio .thumbnail-list li {
  border: 1px solid #DDD;
  width: 50%;
  margin-top: 1.4rem;
  padding: .5rem;
  position: relative;
}
#portfolio .thumbnail-list li img {
  max-width: 100%;
}
#portfolio .thumbnail-list li:hover .rollover {
  visibility: visible;
  border: 1px solid #2ecc71;
}
#portfolio .thumbnail-list li .rollover {
  visibility: hidden;
  background: rgba(44, 62, 80, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#portfolio .thumbnail-list li .rollover h4 {
  padding-top: 30%;
  font-size: 1.8rem;
  color: #fff;
  cursor: default;
}
#portfolio .thumbnail-list li .rollover a {
  margin-top: 1rem;
  display: inline-block;
  padding: .3rem .8rem;
  -moz-border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  border-radius: 0.75rem;
  behavior: url(js/PIE.htc);
  font-size: .6rem;
  border: 1px solid #fff;
}
#portfolio .thumbnail-list li .rollover a:hover {
  background: rgba(46, 204, 113, 0.8);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#team {
  background: #2980b9;
}
#team .team-members {
  margin-left: 5.98291%;
  margin-right: 5.98291%;
}
#team .team-members > li {
  margin-top: 2rem;
  padding: 4px;
}
#team .team-members > li .thumbnail {
  display: block;
  overflow: hidden;
  width: 226px;
  height: 226px;
  border: 4px solid #fff;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  behavior: url(js/PIE.htc);
  margin-bottom: 1em;
}
#team .team-members > li .icon {
  display: inline-block;
  font-family: "Icons";
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 1rem;
  margin-left: 1rem;
}
#team .team-members > li .icon:hover {
  color: #000;
}

#contacts {
  color: #2c3e50;
}
#contacts .contacts {
  text-align: left;
  overflow: hidden;
}
#contacts .contacts a {
  color: #2c3e50;
}
#contacts .contact-form li {
  margin-bottom: 2.2rem;
  overflow: hidden;
  *zoom: 1;
}
#contacts .contact-form [type="text"], #contacts .contact-form [type="email"], #contacts .contact-form textarea {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-style: none none solid;
  border-width: 2px;
  border-bottom-color: #2ecc71;
  font-size: 1.3rem;
  font-family: "Droid Serif", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
#contacts .contact-form input[type="submit"] {
  float: left;
  display: inline-block;
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  border: 1px solid transparent;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  behavior: url(js/PIE.htc);
  padding: .3rem 1rem;
  cursor: pointer;
  font-size: 1.05rem;
  font-family: "Droid Serif", Helvetica, Arial, sans-serif;
}
#contacts .contacts-info li {
  margin-bottom: 2.2rem;
  text-align: center;
}
#contacts .contacts-info h3 {
  font-size: .8rem;
  margin-bottom: .3rem;
}

/*----------Footer----------*/
footer {
  background-color: #2c3e50;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
footer .footer-logo {
  display: inline-block;
  margin-left: 8.54701%;
}
footer .contacts-info {
  text-align: center;
  overflow: hidden;
}
footer .contacts-info li {
  margin-top: 2rem;
}
footer .contacts-info .icon {
  display: inline-block;
  font-family: "Icons";
  font-size: 2.8rem;
}
footer .contacts-info .icon:hover {
  color: #000;
}
footer .contacts-info a {
  display: block;
}

@media (min-width: 750px) {
  #intro {
    background: url("../img/Header Bg - large.jpg") no-repeat scroll center top/cover transparent;
  }
  #intro .container h3 {
    padding-left: 8.54701%;
    padding-right: 8.54701%;
  }

  #about h2 + p {
    margin-right: 17.09402%;
    margin-left: 17.09402%;
    text-align: left;
  }
  #about .about-items li {
    width: 31.62393%;
    float: left;
  }
  #about .about-items li:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  #about .about-items li:nth-child(3n + 2) {
    margin-left: 34.18803%;
    margin-right: -100%;
    clear: none;
  }
  #about .about-items li:nth-child(3n + 3) {
    margin-left: 68.37607%;
    margin-right: -100%;
    clear: none;
  }
  #about .about-items .icon {
    font-size: 120px;
  }

  #team .team-members > li {
    width: 48.71795%;
    float: left;
  }
  #team .team-members > li:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  #team .team-members > li:nth-child(2n + 2) {
    margin-left: 51.28205%;
    margin-right: -100%;
    clear: none;
  }

  #contacts .contact-form {
    width: 40.17094%;
    float: left;
    margin-right: 2.5641%;
    margin-left: 8.54701%;
    margin-right: 11.11111%;
  }
  #contacts .contacts-info {
    width: 31.62393%;
    float: left;
    margin-right: 2.5641%;
  }
  #contacts .contacts-info li {
    text-align: left;
  }

  footer .contacts-info {
    margin-left: 8.54701%;
  }
  footer .contacts-info li {
    text-align: left;
    width: 31.62393%;
    float: left;
  }
  footer .contacts-info li:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  footer .contacts-info li:nth-child(3n + 2) {
    margin-left: 34.18803%;
    margin-right: -100%;
    clear: none;
  }
  footer .contacts-info li:nth-child(3n + 3) {
    margin-left: 68.37607%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 970px) {
  #intro {
    background: transparent;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  #intro .main-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }
  #intro .container h3 {
    padding-left: 8.54701%;
    padding-right: 8.54701%;
  }

  #about .about-items .icon {
    font-size: 6.5rem;
  }
  #about .about-items p {
    margin-left: 14.52991%;
    margin-right: 14.52991%;
  }

  #portfolio .thumbnail-list li {
    width: 33.3%;
  }

  #team .team-members {
    margin-right: 14.52991%;
    margin-left: 14.52991%;
  }
  #team .team-members > li {
    width: 48.71795%;
    float: left;
  }
  #team .team-members > li:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  #team .team-members > li:nth-child(2n + 2) {
    margin-left: 51.28205%;
    margin-right: -100%;
    clear: none;
  }

  #contacts .contact-form {
    width: 31.62393%;
    float: left;
    margin-right: 2.5641%;
    margin-left: 25.64103%;
    margin-right: 11.11111%;
  }
  #contacts .contacts-info {
    width: 17.09402%;
    float: left;
    margin-right: 2.5%;
  }

  footer .contacts-info {
    margin-right: 17.09402%;
  }
}
@media (min-width: 1170px) {
  #intro .container h3 {
    font-size: 4rem;
    padding-left: 12.82051%;
    padding-right: 12.82051%;
  }

  #about .about-items .icon {
    font-size: 7.6rem;
  }

  #team .team-members > li p {
    margin-left: 14.52991%;
    margin-right: 14.52991%;
  }

  footer .contacts-info li a {
    margin-right: 1rem;
  }
}
