@import "grids";
@import "typography";


/*----------Default styles----------*/

html {
	height: 100%;
	font-size: 1.250rem;
}

body {
	color: $main-font-color;
	height: 100%;
	font-family: $main-font;
	line-height: 1.4;
}

h2, h3, h4 {
	font-weight: bold;
}

h2 {
	font-size: 2.25rem;
	margin-bottom: 2.5rem;
}
h3 {
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

p {
	font-family: $secondary-font;
}

a {
	text-decoration: none;
	color: $main-font-color;
}

/*----------Grid----------*/

.container {
	@include container;
}

/*----------Header----------*/

header {
	z-index: 999; //чтобы был всегда выше всех
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgba($third-color, .8);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	.logo {
		float: left;
		margin-left: span(1 wide);
		margin-top: 1rem;
		width: 140px;
		height: 52px;
		overflow: hidden;
	}
}



/*----------Menu----------*/

#menu {
	text-align: right;
	margin-right: span(1);
	.icon {
		display: none;
	}
	.items {
		li {
			display: inline-block;
		}
	}
	a {
		padding: 1.4rem .8rem;
		color: #fff;
		text-decoration: none;
		display:inline-block;
		font-size: 1.1rem;
		&:hover, {
			background: $button-color;
		}
	}
	.active {
		background: red;
	}

}

.showitems {
	display:block !important;
}

@media screen and (max-width: $small) {
	#menu {
		.icon {
			font-size: 2rem;
			cursor: pointer;
			color: #fff;
			display: block;
			text-align: right;
			padding: 1rem;
		}
		.items {
			display:none;
			li {
				display: block;
				a {
					margin-left: span(1 wide);
					display: block;
					padding: .5rem .75rem;
				}
			}
		}
	}
}
//end menu

/*----------Intro----------*/

#intro { //баннер отдельно от меин, так как он стает всей высоты окна, это экран приветствия, тоэтому высота окна взависимости от высоты экрана устройства.
	position: relative;
	text-align: center;
	background:url('../img/Header Bg - small.jpg') no-repeat scroll center top / cover transparent;
	height: 100%;
	.main-video {
		display: none;
	}
	//блок наложения на видео-бэк
	.welcome {
		position: absolute;
		height: 100%;
		width: 100%;
		background: rgba($third-color, .5);
	}
	.container {
		height: 100%;//в мобайл версии блок на всю высоту экрана устройства
		display: table;
		overflow: hidden;
		h3 {
			display: table-cell;
			font-size: 3rem;
			vertical-align: middle;
		}
	}
}

.explore-button {
	position: absolute;
	bottom: 5rem;
	left: 0;
	width: 100%;
	background: url(../img/btn-bg.png) repeat-x center 30px;
	a {
		display: inline-block;
		.explore-icon {//иконка чуток потолстевшая
			margin: 0 auto;
			padding: 17px;
			height: 60px;
			width: 60px;
			font-family: $icon-font;
			font-size: 1rem;
			background: $button-color;
			@include border-radius(50%);
			behavior: url(js/PIE.htc);
		}
		span {
			display: block;
			font-size: 1.35rem;
			font-family: $secondary-font;
			margin-top: .5rem;
		}
		&:hover {
			.explore-icon {
				color: #000;
			}
		}
	}
}


/*----------Main----------*/

.site-main {
	text-align: center;
	section {
		padding-top: 5.5rem; //опступ у каждой секции
		padding-bottom: 5.5rem;
	}
}


//About
#about {
	background-color: $main-color;
	h2+p {
		font-size: 1.2rem;
		@include squish(1);
	}
	.about-items {
		margin-right: span(1);
		margin-left: span(1);
		margin-top: 4rem;
		li {
			margin-top: 1.5rem;
		}
		.icon {
			display: block;
			margin: 0 auto;
			font-family: $icon-font;
			font-size: 7.6rem;
			font-weight: normal;
		}
		p {
			font-size: 1rem;
		}
	}
}


//Portfolio
#portfolio {
	color: $third-color;
	border: 1px solid red;

	.portfolio-menu {
		li {
			display: inline-block;
			margin-right: .8rem;
			a {
				display: inline-block;
				color: $third-color;
				padding: .05rem .8rem;
				font-size: 1.5rem;
				&:hover, 
				&.active {
					color: #fff;
					background-color: $button-color;
					@include border-radius(.9rem);
					behavior: url(js/PIE.htc);
				}
			}
		}
	}

	.thumbnail-list {
		margin-top: 4.4rem;
		overflow: hidden;
		@include clearfix;
		li {
			border: 1px solid #DDD;
			// @include gallery(6);//до скрипта работало так
			width: 50%;//при добавлениии скрипта на фильтрацию, появился баг, лесенка, и span и gallery не помогали, поэтому так)), и также измененено для всех экранов
			margin-top: 1.4rem;
			padding: .5rem;
			position: relative;
			img {
				max-width: 100%;
			}
			&:hover {
				.rollover {
					visibility: visible;
					border: 1px solid $button-color;
				}
			}
			.rollover {
				visibility: hidden;
				background: rgba($third-color, .8);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				h4 {
					padding-top: 30%;
					font-size: 1.8rem;
					color: #fff;
					cursor: default;
				}
				a {
					margin-top: 1rem;
					display: inline-block;
					padding: .3rem .8rem;
					@include border-radius(.75rem);
					behavior: url(js/PIE.htc);
					font-size: .6rem;
					border: 1px solid #fff;
					&:hover {
						background: rgba($button-color, .8);
						@include transition-duration(.5s);
					}
				}
			}
		}
	}
}


//Team
#team {
	background: $secondary-color;
	.team-members {
		margin-left: span(1);
		margin-right: span(1);
		&>li {
			margin-top: 2rem;
			padding: 4px;
			.thumbnail {
				display: block;
				overflow: hidden;
				width: 226px;
				height: 226px;
				border: 4px solid #fff;
				margin: 0 auto;
				@include border-radius(50%);
				behavior: url(js/PIE.htc);
				margin-bottom: 1em;
			}
			.icon {
				display: inline-block;
				font-family: $icon-font;
				font-size: 3rem;
				margin-top: 2rem;
				text-align: center;
				letter-spacing: 1rem;
				margin-left: 1rem;
				&:hover {
					color: #000;
				}
			}
		}
	}
}


//Contacts
#contacts {
	color: $third-color;
	.contacts {
		text-align: left;
		overflow: hidden;
		a {
			color: $third-color;
		}
	}

	.contact-form {
		li {
			margin-bottom: 2.2rem;
			@include clearfix;
		}
		[type="text"], [type="email"], textarea {
			@include span(12);
			border-style: none none solid;
			border-width: 2px;
			border-bottom-color: $button-color;
			font-size: 1.3rem;
			font-family: $secondary-font;
			color: $third-color;
		}
		input[type="submit"] {
			float: left;
			display: inline-block;
			color: #fff;
			background-color: #2ecc71;
			border-color: #2ecc71;
			border: 1px solid transparent;
			@include border-radius (.8rem);
			behavior: url(js/PIE.htc);
			padding: .3rem 1rem;
			cursor: pointer;
			font-size: 1.05rem;
			font-family: $secondary-font;
		}
	}

	.contacts-info {
		li {
			margin-bottom: 2.2rem;
			text-align: center;
		}
		h3 {
			font-size: .8rem;
			margin-bottom: .3rem;
		}
	}

}

/*----------Footer----------*/

footer {
	background-color: $third-color;
	padding-top: 3rem;
	padding-bottom: 3rem;
	.footer-logo {
		display: inline-block;
		margin-left: span(1 wide);
	}
	.contacts-info {
		text-align: center;
		overflow: hidden;
		li {
			margin-top: 2rem;
		}
		.icon {
				display: inline-block;
				font-family: $icon-font;
				font-size: 2.8rem;
				&:hover {
					color: #000;
				}
		}
		a {
			display: block;
		}
	}
}


//Screens import
@import "screens/_small";
@import "screens/_medium";
@import "screens/_large";

//иконочный шрифт с багом, все картикни при конвертировании стали толще,
//но решил оставить, так как так даже интереснее смотрится))


