@include breakpoint ($large) {

	#intro {
		.container {
			h3 {
				font-size: 4rem;
				@include pad(1.5);
			}
		}
	}

	#about {
			h2+p {
				
			}
			.about-items {
				.icon {
					font-size: 7.6rem;
				}
			}
		}

	#team {
		.team-members {
			&>li {
				p {
					margin-left: span(2);
					margin-right: span(2)
				}
			}
		}
	}

	footer {
		.contacts-info {
			li a {
				margin-right: 1rem;
			}
		}
	}
}