@include breakpoint ($large) {

	#about {
		h2+p {
			margin-left: span(3);
			margin-right: span(3);
		}
		.about-items {
			.icon {
				font-size: 180px;
			}
		}
	}

	#portfolio {
		.thumbnail-list {
			@include squish(1);
			li {
				@include gallery(4);
			}
		}
	}

	#team {
		.team-members {
			&>li {
				p {
					margin-left: span(2);
					margin-right: span(2)
				}
			}
		}
	}

	#contact {
		.contacts-info {
			margin-right: span(3);
			margin-left: span(3);
		}
	}

}