@include breakpoint ($medium) {

	#intro {
		background: transparent;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		.main-video {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -9;
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: block;
		}
		.container {
			h3 {
				@include pad(1 no-gutters);
			}
		}
	}

	#about {
		.about-items {
			.icon {
				font-size: 6.5rem;
			}
			p {
				margin-left: span(2);
				margin-right: span(2);
			}
		}
	}

	#portfolio {
		.thumbnail-list {
			li {
				@include gallery(4);
			}
		}
	}

	#team {
		.team-members {
			margin-right: span(2);
			margin-left: span(2);
			&>li {
				@include gallery(6);
			}
		}
	}

	#contacts {
		.contact-form {
			@include span(4);
			margin-left: span(3 wide);
			margin-right: span(1 wider);
		}
		.contacts-info {
			@include span(2 wide);
		}
	}

	footer {
		.contacts-info {
			margin-right: span(2 wide);
		}
	}

}
