@include breakpoint ($medium) {

	#banner {
		background:transparent;
		.main-video {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -9;
			min-width: 100%;
			min-height: 100%;
			overflow: hidden;
			display: block;
		}
	}

	#about {
		h2+p {
			margin-left: span(2);
			margin-right: span(2);
			text-align: left;
		}
		.about-items {
			.icon {
				font-size: 150px;
			}
			p {
				margin-left: span(2);
				margin-right: span(2);
			}
		}
	}

	#team {
		.team-members {
			margin-right: span(2);
			margin-left: span(2);
			&>li {
				@include gallery(6);
			}
		}
	}

	#contact {
		.contacts-info {
			margin-right: span(2);
			margin-left: span(2);
			&>li {
				@include  post(1);
			}
		}
	}

}
