@include breakpoint ($small) {

	#intro {
		background:url('../img/Header Bg - large.jpg') no-repeat scroll center top / cover transparent;
		.container {
			h3 {
				@include pad(1 no-gutters);
			}
		}
	}

	#about {
		h2+p {
			margin-right: span(2 wide);
			margin-left: span(2 wide);
			text-align: left;
		}
		.about-items {
			li {
				@include gallery(4);
			}
			.icon {
				font-size: 120px;
			}
		}
	}

	#team {
		.team-members {
			&>li {
				@include gallery(6);
			}
		}
	}

	#contacts {
		.contact-form {
			@include span(5);
			margin-left: span(1 wide);
			margin-right: span(1 wider);
		}
		.contacts-info {
			@include span(4);
			li {
				text-align: left;
			}
		}
	}

	footer {
		.contacts-info {
			margin-left: span(1 wide);
			li {
				text-align: left;
				@include gallery(4);
			}
		}
	}
}

